body{
  background-color: #ebf0fa;
  font-family: calibri;
  line-height: normal;
}

img.portrait{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 160px;
  padding: 5px;
}

img.icon{
  float: left;
  margin-left: 40px;
}

p{
  margin-block-start: 0;
  margin-block-end: 0;
}

p.skill{
  margin-top: 10px;
}

h1{
  color: white;
  text-align: center;
  margin-block-start: 5px;
}

h3{
  margin-bottom: 10px;
}

h5{
  margin-block-start: 0;
  margin-block-end: 5px;
}

h5.header{
  margin-left: 70px;
}

ul{
  margin-block-start: 0;
  margin-block-end: 50px;
}

div.three{
  color: white;
  font-family: courier;
  column-count: 3;
  text-align: left;
}

div.two_columns{
  display: flex;
  text-align: left;
  height: calc(100vh - 280px)
}

div.left_column{
  flex: 7;
  break-after: column;
  padding: 15px;
  border: 1px #ccc solid;
  background-color: #f5f8ff;
}

div.right_column{
  flex: 17;
  break-before: column;
  padding: 15px;
  border: 1px #ccc solid;
}

div.whole_cv{
  background-color: #ffffff;
  height: 100vh;
  width: 900px;
  margin-left:auto;
  margin-right:auto;
}

div.header{
  background-color: #314051;
  height: 280px;
  width: 900px;
}
