body{
  background-color: #ebf0fa;
  font-family: calibri;
  text-align: center;
}

img.portrait{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 160px;
}

img.icon{
  float: left;
  margin-left: 40px;
}

h1{
  color: white;
}

h5{
  margin-block-start: 0;
  margin-block-end: 0;
}

div.three{
  color: white;
  font-family: courier;
  column-count: 3
}

div.two_columns{
  column-count: 2;
  column-rule-style:dotted;
}

div.left_column{
  width: 50%;
  break-after: column;
  /*float:left;
}*/
}

div.right_column{
  width: 50%;
  break-before: column;
  /*float: right;*/
}

div.lang{
  break-inside: avoid-column;
  break-after: column;
}

div.whole_cv{
  background-color: #ffffff;
  min-height: 1500px;
  height: 100%;
  width: 900px;
  margin-left:auto;
  margin-right:auto;
}

div.header{
  background-color: #314051;
  height: 280px;
  width: 900px;
}
