body{
  background-color: #ebf0fa;
  font-family: calibri;

}

img.portrait{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 160px;
}

img.icon{
  float: left;
  margin-left: 40px;
}

h1{
  color: white;
  text-align: center;
}

h5{
  margin-block-start: 0;
  margin-block-end: 0;
}

div.three{
  color: white;
  font-family: courier;
  column-count: 3;
  text-align: left;
}

div.two_columns{
  display: flex;
  padding: 10px;
  text-align: left;
}

div.left_column{
  flex: 1;
  break-after: column;
  padding: 15px;
  border: 1px #ccc solid;
  /*float:left;
}*/
}

div.right_column{
  flex: 2;
  break-before: column;
  padding: 15px;
  border: 1px #ccc solid;
  /*float: right;*/
}

div.whole_cv{
  background-color: #ffffff;
  min-height: 1500px;
  height: 100%;
  width: 900px;
  margin-left:auto;
  margin-right:auto;
}

div.header{
  background-color: #314051;
  height: 280px;
  width: 900px;
}
